snippet div
	<div>${1}</div>
snippet p
	<p>${1}</p>
snippet ul
	<ul>
		<li>${1}</li>
	</ul>
snippet li
	<li>${1}</li>
snippet span
	<span>${1}</span>
snippet script
	<script src="${1}">${2}</script>
snippet style
	<style type="text/css">
		${1}
	</style>
snippet link
	<link rel="stylesheet" href="${1}">
snippet a
	<a href="${1}">${2}</a>
